body {
  font-size: 1.4vh;
  background-color: black;
  color: #c7c7c7;
  box-sizing: border-box;
}

#nav {
  padding: 2vh;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

#container {
  width: 100%;
  background-color: gray;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "controls mapOne mapOne mapOne" "controls mapTwo mapTwo mapTwo" "plotOne plotOne plotTwo plotTwo"
}

#controls {
  display: block;
  grid-area: controls;
  background-color: darkslategray;
  padding: 1em 1em 0 1em;
}

.action_button {
  background-color: darkslategray;
}

.about_button {
  float: right;
}

.filter-group {
  clear: both;
  padding: 0 1em;
}

.spacer {
  border: solid whitesmoke thin;
  clear: both;
  align-self: stretch;
  margin: 1em;
}

#magGroup .shiny-options-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.checkbox:nth-child(2) {
  margin-top: 10px;
}

.checkbox label span,
.shiny-options-group label span {
  padding: 0 1em;
}

#mapOne {
  grid-area: mapOne;
  background-color: #090909;
}

#mapTwo {
  grid-area: mapTwo;
  background-color: #090909;
}

#plotOne {
  grid-area: plotOne;
  background-color: #090909;
}

#plotTwo {
  grid-area: plotTwo;
  background-color: #090909;
}

.buttonGroup {
  float: right;
}

.action_button img {
  height: 20px;
}

.irs-min,
.irs-max {
  color: #c7c7c7;
}

@media (min-width: 2000px) {
  #container {
    height: 100vh;
    grid-template-columns: 6fr 7fr 7fr;
    grid-template-rows: 1fr 4fr 4fr;
    grid-template-areas: "controls controls controls" "plotOne mapOne mapTwo" "plotTwo mapOne mapTwo"
  }
  #controls {
    display: flex;
    align-items: flex-start;
  }
  h1 {
    font-size: 2vh;
  }
  h3 {
    font-size: 1.5vh;
  }
  .shiny-input-container {
    width: 610px !important;
  }
  .irs-grid-text {
    font-size: 18px;
  }
  .filterContainer {
    margin-top: -30px;
  }
  .action_button img {
    height: 30px;
  }
  input[type=checkbox],
  input[type=radio] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(3);
    /* IE */
    -moz-transform: scale(3);
    /* FF */
    -webkit-transform: scale(3);
    /* Safari and Chrome */
    -o-transform: scale(3);
    /* Opera */
    padding: 10px;
    margin: 10px;
  }
}