body {
  font-size: 1.4vh;
  background-color: #f3f6f9;
  color: #c7c7c7;
  /*color: black;*/
  box-sizing: border-box;
}

a {
  color: #ffa726;
}

#nav {
  padding: 2vh;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

#container {
  width: 100%;
  background-color: #919191;
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "controls mapOne mapOne mapOne" "controls mapTwo mapTwo mapTwo" "plotOne plotOne plotTwo plotTwo"
}

#controls {
  display: block;
  grid-area: controls;
  background-color: #262626;
  padding: 1em 1em 0 1em;
}

.action_button {
  background-color: #262626;
}

.about_button {
  float: right;
}

.filter-group {
  clear: both;
  padding: 0 1em;
}

.spacer {
  border: solid whitesmoke thin;
  clear: both;
  align-self: stretch;
  margin: 1em;
}

#magGroup .shiny-options-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.checkbox:nth-child(2) {
  margin-top: 10px;
}

.checkbox label span,
.shiny-options-group label span {
  padding: 0 1em;
  white-space: nowrap;
}

#mapOne {
  grid-area: mapOne;
  background-color: #090909;
}

#mapTwo {
  grid-area: mapTwo;
  background-color: #090909;
}

#plotOne {
  grid-area: plotOne;
  background-color: #262626;
  padding: 25px;
}

#plotTwo {
  grid-area: plotTwo;
  background-color: #262626;
  padding: 25px;
}

.buttonGroup {
  float: right;
  max-width: 150px;
  margin-top: 0;
}

.buttonGroup div {
  display: inline;
}

.states>span {
  float: right;
}

h3,
h4 {
  display: inline;
}

.form-group {
  margin-bottom: 25px;
}

.action_button img {
  height: 20px;
}

.irs-min,
.irs-max {
  color: #c7c7c7;
}

.irs-bar,
.irs-bar-edge,
.irs-single,
.irs-grid-pol {
  background: #e65100;
  border-color: #e65100;
}
.irs-to, .irs-from {
  background-color: #fb8c00;
}

#about {
  font-size: 25px;
  color: #fff;
  background-color: #262626;
  border-color: #262626;
  padding: 0px;
  float: right;
}

.units {
  padding-left: 5px;
}

#widthUnitLabel,
#lengthUnitLabel,
#distanceUnitLabel {
  display: inline;
}

.tooltip-inner {
  background-color: #090909;
}

div#table1 label, div#table2 label{
  color: #c7c7c7;
}

div#table1 tbody tr, div#table2 tbody tr{
  background-color: #262626;
  color: #c7c7c7;
}

.dataTables_wrapper .dataTables_info{
  color: #c7c7c7;
}

.dataTables_wrapper .dataTables_paginate .paginate_button  {
  color: #c7c7c7 !important;
}

#countpercent1 text.updatemenu-item-text, #countpercent2 text.updatemenu-item-text{
  fill: #c7c7c7 !important;
}

#parcoordchart1 svg.main-svg .parcoords .tick text, #parcoordchart2 svg.main-svg .parcoords .tick text {
  text-shadow: none !important;
}
/*Wall styles*/

@media (min-width: 2000px) {
  #container {
    height: 100vh;
    grid-template-columns: 6fr 7fr 7fr;
    padding-bottom: 0.5em;
    grid-template-rows: 1.4fr 4fr 4fr;
    grid-template-areas: "controls controls controls" "plotOne mapOne mapTwo" "plotTwo mapOne mapTwo"
  }
  #controls {
    display: flex;
    align-items: flex-start;
  }
  #mapTwo {
    margin-right: 0.5em;
  }
  #plotOne,
  #plotTwo {
    margin-left: 0.5em;
  }
  h1 {
    font-size: 2vh;
  }
  h3, .shiny-input-container .control-label {
    font-size: 1.5vh;
  }
  h4 {
    font-size: 1vh;
  }
  .tooltip-inner {
    font-size: 0.9vh;
  }
  .shiny-input-container {
    width: 610px !important;
  }
  .irs-grid-text {
    font-size: 18px;
  }
  .filterContainer {
    margin-top: -30px;
  }
  .buttonGroup div {
    margin-top: 10px;
  }
  #magGroup {
    width: auto;
  }
  #magGroup .shiny-options-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  input[type=checkbox],
  input[type=radio] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(3);
    /* IE */
    -moz-transform: scale(3);
    /* FF */
    -webkit-transform: scale(3);
    /* Safari and Chrome */
    -o-transform: scale(3);
    /* Opera */
    padding: 10px;
    margin: 10px;
  }
  .checkbox label span,
  .shiny-options-group label span {
    padding: 0 1em;
    line-height: 2px;
  }
  .material-switch {
	margin-top: 4em;
  }
  #about {
    font-size: 35px;
  }
  .modal-content {
    padding: 30px;
  }
  #magnitudeDiv div:nth-child(1) {
    margin-bottom: -50px;
    padding-top: 0;
  }
  #mapOne .leaflet-control-container .leaflet-right,
  #mapTwo .leaflet-control-container .leaflet-right {
    font-size: 25px;
  }
  #mapOne .leaflet-control-layers-base,
  #mapTwo .leaflet-control-layers-base {
    padding: 15px;
  }
  #shiny-modal-wrapper {
    color: #333;
  }
}